.color-container {
  background-color: #2A2A2A;
}

.color-container2 {
  background-color: #DDD;
}

.color-texto-blanco {
  color: white;
}

.linea-amarilla {
  border-bottom: solid yellow;
}

.bloque-amarillo {
  background-color: yellow;
}

.bloque-gris {
  background-color: gray;
}