.color-container {
  background-color: #2A2A2A;
}

.color-container2 {
  background-color: #EEE;
}

.color-texto-blanco {
  color: white;
}

.linea-amarilla {
  border-bottom: solid #ffd54b;
}

.bloque-amarillo {
  background-color: #ffd54b;
}

.bloque-gris {
  background-color: gray;
}